# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
venv/
.venv/
env/

# Node
node_modules/

# Coverage / tests
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
