FLASK_ENV=development
SECRET_KEY=change-this-secret-key
JWT_SECRET_KEY=change-this-jwt-secret-key

DATABASE_URL=postgresql://cadri_user:cadri_password@db:5432/cadri_db
TEST_DATABASE_URL=postgresql://cadri_user:cadri_password@db:5432/cadri_test_db

FRONTEND_URL=http://localhost:5173

MAIL_SERVER=mailpit
MAIL_PORT=1025
MAIL_DEFAULT_SENDER=no-reply@cadri.local

JWT_ACCESS_TOKEN_EXPIRES_MINUTES=15
ACCOUNT_ACTIVATION_TOKEN_EXPIRES_HOURS=24
PASSWORD_RESET_TOKEN_EXPIRES_HOURS=2
